.DS_Store
appspec.yml
deploy/
.tern-port
node_modules
dist
.#*
memos
target
.vscode/
deploy.sh
classifier.json
.sass-cache
__pycache__
*.code-workspace
*.pyc
passwords.txt
coverage
facebook_ads_*.sql
facebook_ads-*.sql
classifier.dill
facebook-ads-*.sql
docker-compose/pgdata
secrets.env
